# Dependencias de Python necesarias para el artefacto de ingestión
# - Manténgase tan reducido como sea posible
# - Ùsense versiones específicas para facilitar la reproducibilidad
# Docs: https://getbruin.com/docs/bruin/assets/python                                                                                                                                   

pandas==3.0.1
requests==2.32.5
pyarrow==23.0.1
