POSTGRES_DATA_HOST=frontend-server-hostname
POSTGRES_DATA_USER=root
POSTGRES_DATA_PASSWORD=password

# Directorio que contiene el socket de Docker (docker.sock)
# Esta línea se puede dejar comentada si el socket está en /var/run/docker.sock
# DOCKER_SOCKET_DIR=${XDG_RUNTIME_DIR}

KESTRA_PORT=8080
KESTRA_USER=admin@domain.local
KESTRA_PASSWORD=Admin1234!
KESTRA_GEMINI_APIKEY=foo

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniopass
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_RAW_BUCKET=boc-raw
MINIO_MARKDOWN_BUCKET=boc-markdown